/* --------------navbar---------*/
nav{
    background-color: #00224D;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position:sticky;
    position: fixed;
  }
  nav li{
    display: inline-block;
    margin: 0 8px;
    padding: 0 30px 0 30px;
  
  }
  nav a{
    text-decoration: none;
    color:white;
    text-transform: capitalize;
  
  }
  .logo{
    font-size: 36px;
    font-weight: bolder;
  
  }
  .logo a{
    color: rgb(243, 243, 3);
  }
  nav a:hover{
    color:rgb(243, 243, 3);
  }
  
  .menu-line{
    width:20px;
    height:3px;
    background-color: yellow;
    margin-bottom: 3px;
    
  }
  .menu-item{
    cursor: pointer;
    display: none;
    
  }
  
  
  
    /*-----------homepage-------------*/
  
  .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top:100px;
  }
  .container .header img{
    object-fit: cover;
    width:80%;
    object-fit: cover;
    margin-left:80px;
    padding-top:60px;
  
  }
  .container .header button{
    border-radius :20px;
    margin-left:170px;
    width:20%;
    height:40px;
    color: white;
    background-color: #000;
    margin-top:40px;
  }
  .container .header h1{
    padding-top:70px;
    color: #ffb703;
    font-family:Brush Script MT;
    text-transform: capitalize;
    font-size:2rem;
    margin-left:40px;
     
  }
  .container .header p{
    padding-top: 20px;
    font-size:18px;
    text-transform:none;
    width:80%;
    border:2px;
    border-radius:20px;
    border-style:none;
    padding-top:10px;
    padding-bottom:5px;
    text-align: center;
    margin-left:30px;
    background-color:palevioletred;
  
  }
  .container .header .form{
    display: grid;
    grid-template-columns: auto auto;
    padding-top:20px;
    row-gap:30px;
    text-transform: capitalize;
    color: #007F73;
    font-weight: bold;
  
  }
  .container .header .form input{
  border-radius:20px;
  margin-right:90px;
  }
  /*----------media query for nav bar and home page----------*/
  @media screen and (max-width:600px){
    .container{
      display: grid;
      grid-template-columns:auto;
    }
    .container .header h1{
      font-size:3rem;
    }
  
    nav{
      flex-direction: column;
    }
    nav li{
      display: block;
      padding: 10px 0;
    }
    ul{
      text-align: center;
      padding: 0;
      display:none;
    }
    .logo{
      align-self: flex-start;
      margin: 10px 0 0 30px;
  
    }
    .menu-item{
      display: block;
      position: absolute;
      right:20px;
      top:25px;
    }
    .showmenu{
      display: block;
    }
  
    
  }
  @media screen and (max-width:600px) {
    .container .header button{
      margin-left:110px;
      width: 30%; 
    }  
  } 
  @media screen and (max-width:600px) {
    .container .header img{
      padding-top: 20px;
      width:80%;
      margin-left:25px;
    }  
  } 
  /*------------destinations-------------*/
  .placestext h1{
      text-align: center;
      padding-top:20px;
      font-family: Brush Script MT;
      color:#ffb703 ;
      font-size:3rem;
  
  }
  .placestext h2{
      text-align: center;
      padding-top:10px;
      font-size:2rem;
      text-transform: capitalize;
  
  }
  .cards{
      background-color:rgba(255, 255, 255, 0.925);
      display:grid;
      gap:20px;
      grid-template-columns:auto auto auto;
      padding:20px;
      margin:0 10px 0 40px;    
  
  }
  @media screen and (max-width:600px){
      .cards{
      display:grid;
      grid-template-columns:auto auto;
      }
  
      
  }
  
  
  .card1 {
      border: 1px solid lightgray;
      box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      width:80%;
      height:100%;
  }
  
  
      
  
  .card1 img {
      width:100%;
      background-size: cover;
      height:200px;
      border-radius:8px;
      cursor:pointer;
  
  }
  .card1 h4{
    text-align: center;
    color: #FF5BAE;
    text-transform: capitalize;
  }
  .card1 button{
    border-radius:20px;
    width: 130px;
    background-color: #90D26D;
    text-transform: capitalize;
  }
  @media screen and (max-width:600px){
    .card1 img{
      object-fit: cover;
      height: 100px;
    }
  
    
  }
  
  .card1 a{
      text-decoration:none;
      color:#2a9d8f;
  }
  /* ------------------north----------------- */
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    .aboutnorth{
      text-align: center;
      text-transform:uppercase;
      color: #FF5BAE;
      font-family:popins;

    }
    .card-body h3{
      color:#007F73;
      font-family: popins;
      text-transform: capitalize;
    }
  .card{
      margin-left:10%;
      margin-right:10%;
      background-color: #ffb703;
  }
    
    .northindia{
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      background:#edf6f9;
      
    }
    .title1{
      text-align: center;
      font-family: popins;
      font-weight: bold;
      color:#007F73;
    }
    
   
   /*---------------------south-------------------*/
   /*--------------- about south----------*/
 .headersouth{
  text-align: center;
  font-weight: bolder;
  font-family: popins;
  text-transform: capitalize;
  color: #007F73;
 }
 .aboutsouth span{
  color: orangered;
  text-transform: capitalize;
  font-size:3rem;
 }
 .aboutsouth{
  display:grid;
  grid-template-columns: auto auto;
  text-transform: capitalize;
  width:100%;
  margin-left:20px;
  font-family:popins;
 }
 .aboutsouth .southimg{
  transform: scale(0.8);
  padding-bottom:20px;

 }
 .states{
  margin-left:20px;
  font-family: popins;
  font-weight:bolder;
  color: #007F73;
 }
 .places h2{
  text-align: center;
  color: #ffb703;
  text-transform: capitalize;
 }
 @media screen and (max-width:600px){
  .aboutsouth{
    display: grid;
    grid-template-columns: auto;

  }
  .aboutsouth .southimg{
    transform: scale(0.8);
    margin-right:100%;
  }
  .aboutsouth .aboutsh p{
    margin-right:20%;

  }
    
 }
 /*-----------------listcontent----------*/

 .abouttoursim{
  margin-left:20px;
  text-transform: capitalize;
  margin-top:30px;
 }



  .center {
    margin-top:10px;
    width: 100%;
    height: 100%;
  }
  .title {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    color:#ffb703;
    font-family: poppins;
    font-size:20px;
    font-weight:600;
  }
  .slider {
    margin-top: 50px;

    width: 100%;
    height: fit-content;
    overflow: hidden;
  }
  .items {
    width: fit-content;
    display: flex;
    animation: slide 50s linear infinite;
    overflow-x: scroll;
  }
  .item {
    width: 350px;
    border-radius: 5mm;
    margin: 10px;
  }
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-30%);
    }
  }
 